@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.cart-icon::before {
	content: '\e8f6';
}

.vue-slider-process {
	background-color: theme('colors.primary') !important;
}

.vue-slider-dot-handle {
	background-color: theme('colors.primary') !important;
	border-color: theme('colors.primary') !important;
}
